<ion-app>
  <app-header></app-header>
  <app-menu></app-menu>  
  <ion-content>
    <app-title title="Boletas Emitidas" icon="search"></app-title>
    <div class="containerFilters">
      <div class="containerFilters_inputs">
        <label for="inputCuit">Años</label>
        <input
          id="inputCuit"
          type="text"
          (input)="dtCompanies.filter($any($event.target).value,'cuit','contains')"
          (onFocus)="dtCompanies.filter($any($event.target).value,'cuit','contains')"
          (onBlur)="dtCompanies.filter($any($event.target).value,'cuit','contains')"
          pInputText
        >
      </div>
      <div class="containerFilters_inputs">
        <label for="inputRazonS">Meses</label>
      <input 
        id="inputRazonS"
        type="text"      
        (input)="dtCompanies.filter($any($event.target).value,'razonSocial','contains')"
        (onFocus)="dtCompanies.filter($any($event.target).value,'razonSocial','contains')"
        (onBlur)="dtCompanies.filter($any($event.target).value,'razonSocial','contains')"
        pInputText
        >
      </div>

      <div class="containerFilters_estado">
        <label for="inputEstado">Estado</label>
      <input 
        id="inputEstado"
        type="text"      
        (input)="dtCompanies.filter($any($event.target).value,'estado','contains')"
        (onFocus)="dtCompanies.filter($any($event.target).value,'estado','contains')"
        (onBlur)="dtCompanies.filter($any($event.target).value,'estado','contains')"
        pInputText
        >
      </div>

    </div>
    <div class="mainTable">
      <p-table
        id="tableCompanies"
        #dtCompanies
        [value]="boletas"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="1"
        [rowsPerPageOptions]="[1, 2, 3]"
        [globalFilterFields]="['id', 'razonSocial', 'cuit', 'email', 'contactName', 'contactNumber']"
        (onFilter)="onFilter($event, dtCompanies)"
        selectionMode="single"
        autocomplete="off"
      >
        <ng-template pTemplate="caption">
          <div class="companies__flex">
            <div class="flex__clear">
              <button
                pButton
                label="Limpiar"
                class="p-button-outlined"
                icon="pi pi-filter-slash"
                (click)="clear(dtCompanies)"
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th
              *ngFor="let column of fieldsTableBoleta"
              pSortableColumn="{{column.field}}"
            >
              {{column.title}}
              <p-sortIcon field="{{column.field}}"></p-sortIcon>
              <p-columnFilter
                type={{column.type}}
                field={{column.field}}
                display="menu"
              ></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-boleta>
          <tr>
            <td>{{ boleta.periodo }}</td>
            <td>{{ boleta.secuencia }}</td>
            <td>{{ boleta.fechaEmision }}</td>
            <td>{{ boleta.cantEmpleados }}</td>
            <td>{{ boleta.estado }}</td>
            <td>
              <div class="optionsButtons">
                <p-button [class.selected]="boleta === selectedBoleta" (onClick)="showDialogBoleta(boleta)" icon="pi pi-dollar"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="selectedBoleta">
      <p-dialog [(visible)]="displayBoleta" [modal]="true" [style]="{ width: '45vw', height: '15vw' }" position="center">
        <div class="mainTable">
          <p-table
            [value]="selectedBoleta"
            
          >
            <ng-template pTemplate="header">
              <tr>
                <th
                  *ngFor="let column of fieldsTableBoletaModal"
                  pSortableColumn="{{column.field}}">
                  {{column.title}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-boleta>
              <tr>
                <td><span class="p-column-title">Fecha Pago Declarada</span>{{ boleta.fechaPagoDeclarada }}</td>
                <td><span class="p-column-title">Fecha Pago Real</span>{{  boleta.fechaPagoReal }}</td>
                <td><span class="p-column-title">Monto Basico</span>{{  boleta.montoBasico }}</td>
                <td><span class="p-column-title">Monto Intereses</span>{{ boleta.montoIntereses }}</td>
                <td><span class="p-column-title">Monto Total</span>{{  boleta.montoTotal}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-dialog>
    </div>
  
  </ion-content>
</ion-app>
