<ion-app>
    <app-header></app-header>
    <app-menu></app-menu>
  <ion-content>
    <app-title title="Buscar Actas" icon="documents"></app-title>
    <div class="filter">
      <label class="filter__label">Filtrar por estado: </label>
      <p-dropdown 
          class="filter__dropdown" 
          [options]="status"
          [(ngModel)]="selectedStatus"
          placeholder="Seleccione..."
          (onChange)="filter(dtCompanies,selectedStatus)"
          (onClear)="clear(dtCompanies)"
          [showClear]="true"
       >
      </p-dropdown>
    </div>
    <div class="mainTable">
      <p-table
        id="tableCompanies"
        #dtCompanies
        [value]="records"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="4"
        [rowsPerPageOptions]="[1, 2, 3]"
        [globalFilterFields]="['razonSocial', 'cuit']"
        (onFilter)="onFilter($event, dtCompanies)"
        selectionMode="single"
        autocomplete="off"
      >
        
        <ng-template pTemplate="header">
          <tr>
            <th
              *ngFor="let column of fieldsTableRecords"
            >
              {{column.title}}

            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-company let-i="rowIndex">
          <tr >
            <td>{{ company.nroActa }}</td>
            <td>{{ company.estado }}</td>
            <td >{{ company.fechaApertura }}</td>
            <td >{{ company.fechaCierre }}</td>
            <td >{{ company.usuarioCierre }}</td>
            <td >{{ company.fechaAprobacion }}</td>
            <td >{{ company.cuotaDesde }}</td>
            <td >{{ company.cuotaHasta }}</td>
            <td>
              <div class="optionsButtons">  
                <div class="viewRecord">
                  <div class="info"> 
                    <p id="viewSearchs">Ver</p>
                  </div>
                  <p-button (click)="paymentRecords()" icon="pi pi-book"></p-button>         
              </div>  
              </div>         
            </td>
          </tr>
        </ng-template>
      </p-table>
      </div>
  </ion-content>
</ion-app>



