:host ::ng-deep .p-button{
    color: gray;
    background: white;
    border: white;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 50px;
 }

 :host ::ng-deep .p-button:hover{
    color: gray;
    background: #dee2e6;
    border: 1px solid #dee2e6;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 50px;
 }
 :host ::ng-deep .p-datatable .p-datatable-thead > tr > th{
   text-align:center;
 }
 
 :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    text-align:center;
    padding: 0;
  }
 .optionsButtons{
    display: inline-flex;
 }

 .info {
    -webkit-transition: opacity 0.2s;
    opacity: 0;
   }

.viewRecord:hover .info{
    opacity: 1;
}

p{
    margin: 0px;
    font-size: 14px;
    text-align: center;
   }

   .viewRecord{
    position: relative;
    top: -3px;
    height: 60px;
}

.filter{
   margin-left: 2%;
}

.filter__dropdown{
   width: 18%;
   display: inline-flex;
   position: relative;
}

.filter__label{
      width: 100%;
      display: inline;
      font-size: 20px;
   
}

:host ::ng-deep .p-dropdown{
   width: 100%;
}