.mainTable{
   width: 100%;
}
 
 .companies__flex{
    width: 100%;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
 }

 .containerFilters{
   display: flex;
   margin-left: 2%;
 }

 .containerFilters_inputs{
   margin-right: 2%;
   margin-bottom: 1%;
   display: inline-block;
   width: 19%;
   height: 65px;
   input {
      width: 100%;
      height: 40px;
   }
   label {
      display: block;
      width: 100%;
      margin-left: 2%;
      margin-top: 3%;
      font-size: 20px;

   }
   
 }
 :host ::ng-deep .p-datatable .p-datatable-thead > tr > th{
   text-align:center;
 }

 :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td{
   text-align:center;
   padding: 0.5rem;
 }
 

:host ::ng-deep .p-button {
   color: #ffffff;
   background: #67b5cf;
   border: 1px solid #67b5cf;
   padding: 0.75rem 1.25rem;
   font-size: 1rem;
   transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
   border-radius: 20px;
 }
 :host ::ng-deep .p-button:hover{
   color: gray;
   background: #dee2e6;
   border: 1px solid #dee2e6;
  }

#search, #pencil ,#print{
   position: relative;
   height: 40px;
   width: 60px;
   margin-left: 0%;
}
.info {
 height: 0px;
 top: -20px;
 right: 4px;
 position: relative;
 -webkit-transition: opacity 0.2s;
 opacity: 0;
}
:host ::ng-deep  .p-button.p-button-icon-only {
   width: 3rem;
   padding: 0.75rem 0;
}

div#search:hover div.info, div#pencil:hover div.info, div#print:hover div.info{
 opacity: 1;
}

p#buscarActas,p#editarActas,p#imprimirActas{
 position: relative;
 font-size: 14px;
 margin: 0;
 display: contents;
}

:host ::ng-deep .p-column-filter-overlay-menu .p-column-filter-operator {
   padding: 0.5rem 1rem;
   border-bottom: 1px solid #dee2e6;
   color: #343a40;
   background: #f8f9fa;
   margin: 0;
   border-top-right-radius: 6px;
   border-top-left-radius: 6px;
}

:host ::ng-deep .p-column-filter-overlay-menu .p-column-filter-add-rule {
   padding: 0rem 0rem;
}

.optionsButtons {
   margin-top: 2%;
   display: inline-flex;
}

:host ::ng-deep .p-datatable-table {
   margin-top: 0%;
   border-spacing: 0px;
   width: 100%;
}



:host ::ng-deep .p-datatable-header ng-star-inserted {
   margin-top: 3%;
}

:host ::ng-deep .p-datatable .p-datatable-header {
   background: #f8f9fa;
   color: #343a40;
   border: 1px solid #dee2e6;
   border-width: 1px 0 1px 0;
   padding: 1rem 1rem;
   margin-top: 0.5%;
   font-weight: 700;
}
 
@media screen and (min-width: 1921px){
   
   :host {
     width: 1920px;
     margin: auto;
 }
 .containerFilters_inputs{
   width: 25%;
   height: 70px;
   label{
      font-size: 24px;
   }
}
}



@media screen and (max-width:960px){
   .containerFilters_inputs{
      width: 35%;
      height: 80px;
   } 
}

@media screen and (max-width:768px){
   .containerFilters{
      display: flex;
      margin-left: 1%;
      margin-right: 1%;
      flex-direction: row;
   }
   .containerFilters_inputs{
      width: 35%;
      height: 70px;
      input{
         height: 40px;
      }
   } 
}
@media screen and (max-width:480px){
   .companies__flex{
      height: 35px;
   }

   .p-button {
      font-size: medium;
      padding: 0.4rem 0.4rem;
   }

   :host ::ng-deep .p-button .p-button-icon-left {
      margin-right: 0.5rem;
      display: none;
   }
   
   .containerFilters{
      flex-direction: column;
      font-size: 23px;
      margin-left: 2%;
      margin-right: 2%;
   }
   .containerFilters_inputs{
      width: 100%;
      height: 61px;
      margin-right: 0%;
      input {
         width: 100%;
         height: 35px;
         font-size: 19px;
      }
      label {
         font-size: 19px;
      }
      
    }

}




