<ion-app>
  <app-menu title="Buscar Empresas" icon="search"></app-menu>
  <ion-content>
    <div>
      <div class="">
        <label for="inputCuit"><h2>Cuit</h2></label>
        <input
          id="inputCuit"
          type="text"
          (input)="dtCompanies.filter($any($event.target).value,'cuit','contains')"
          (onFocus)="dtCompanies.filter($any($event.target).value,'cuit','contains')"
          (onBlur)="dtCompanies.filter($any($event.target).value,'cuit','contains')"
          pInputText
        >
      </div>
      <div>
        <label for="inputRazonS"><h2>Razon Social</h2></label>
      <input 
        id="inputRazonS"
        type="text"      
        (input)="dtCompanies.filter($any($event.target).value,'razonSocial','contains')"
        (onFocus)="dtCompanies.filter($any($event.target).value,'razonSocial','contains')"
        (onBlur)="dtCompanies.filter($any($event.target).value,'razonSocial','contains')"
        pInputText
        >
      </div>
    </div>
    <div class="mainTable">
      <p-table
        id="tableCompanies"
        #dtCompanies
        [value]="companies"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="3"
        [rowsPerPageOptions]="[1, 2, 3]"
        [globalFilterFields]="['id', 'razonSocial', 'cuit', 'email', 'contactName', 'contactNumber']"
        (onFilter)="onFilter($event, dtCompanies)"
        selectionMode="single"
        autocomplete="off"
      >
        <ng-template pTemplate="caption">
          <div class="companies__flex">
            <div class="flex__clear">
              <button
                pButton
                label="Limpiar"
                class="p-button-outlined"
                icon="pi pi-filter-slash"
                (click)="clear(dtCompanies)"
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th
              *ngFor="let column of fieldsTableCompany"
              pSortableColumn="{{column.field}}"
            >
              {{column.title}}
              <p-sortIcon field="{{column.field}}"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="name"
                display="menu"
              ></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-company>
          <tr>
            <td>{{ company.id }}</td>
            <td>{{ company.razonSocial }}</td>
            <td>{{ company.cuit }}</td>
            <td>{{ company.email }}</td>
            <td>{{ company.contactName }}</td>
            <td>{{ company.contactNumber }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ion-content>
</ion-app>
