ion-menu::part(backdrop) {
    background-color: rgba(103, 181, 207, 1);
  }

ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(103, 181, 207, 0.5);
    
}

@media screen and (min-width: 1367px){
  ion-header {
    width: 1366px;
}
ion-img{
  width: 1366px;
}
}


