<ion-app>
  <app-header></app-header>
  <app-menu></app-menu>
  <ion-content>
    <app-title title="Actas de planes de pago" icon="documents"></app-title>
    <p-menubar [model]="items"></p-menubar>
    <p-card>
      <div class="container">
        <p-accordion [multiple]="true">
          <p-accordionTab header="Datos de la empresa">

            <div *ngFor="let companies of records">
            <div class="conteiner-data-1">

            <tr><th>Acta</th> 
               <th>Estado</th> 
               <th>Fecha Apertura</th> 
               <th>Fiscalizador</th>
               <th>Empresa</th> 
               <th>Alta AFIP</th>
               <th>Aprobador Fec.Int</th> 
               <th>Aprobador Fec.Acr</th></tr> 

               <tr><td>{{companies.nroActa}}</td>
                <td>{{companies.estado}}</td>
                <td>{{companies.fechaApertura}}</td>
                <td>{{companies.fiscalizador}}</td>
                <td>{{companies.cuit}}</td>
                <td>{{companies.altaAfip}}</td>
                <td>{{companies.aprobadorFecIntereses}}</td>
                <td>{{companies.aprobadorFecAcreditacion}}</td></tr> 
              </div>
            </div>
       

          </p-accordionTab>
          <p-accordionTab header="Datos de contacto">
            <div *ngFor="let companies of records">
              <div class="conteiner-data-3">

                <tr><th>Nombre</th>
                  <th>Apellido</th>
                  <th>Mail</th>
                  <th>Telefono</th></tr>

               <tr><td>{{companies.contactName}}</td>
                <td>{{companies.contactLastName}}</td>
                <td> {{companies.email}}</td>
                <td>{{companies.contactNumber}}</td></tr> 

                </div>
            </div>           
          </p-accordionTab>
        </p-accordion>
      </div>

      <div class="mainTable">
        <p-table
          id="tableCompanies"
          #dtCompanies
          [value]="periods"
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [rows]="3"
          [rowsPerPageOptions]="[1, 2, 3]"
          (onFilter)="onFilter($event, dtCompanies)"
          selectionMode="single"
          autocomplete="off"
        >
          <ng-template pTemplate="caption">
            <h2>Plan de pagos</h2>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th
                *ngFor="let column of fieldsTableRecord"
                pSortableColumn="{{column.field}}">
                {{column.title}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-period let-i="rowIndex">
            <tr>
              <td>{{ period.periodo }}</td>
              <td>{{ period.cantEmpleados }}</td>
              <td>{{ period.valorCuota }}</td>
              <td>{{ period.empleadosAuditados }}</td>
              <td>{{ period.monto}}</td>
              <td>{{ period.empApagar }}</td>
              <td>{{ period.montoApagar}}</td>
              <td>{{ period.vtoOriginal }}</td>
              <td>
                <div class="optionsButtons">
                  <p-button icon="pi pi-dollar"></p-button>
                  <p-button icon="pi pi-exclamation-triangle"></p-button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </ion-content>
</ion-app>
