:host {
  ::ng-deep .accordion-override {
    .p-accordion-content {
      padding: 0.55rem;
      border: 1px solid #dee2e6;
      background: #ffffff;
      color: #495057;
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .p-accordion-header .p-accordion-header-link {
      padding: 0.8rem;
      border: 1px solid #dee2e6;
      color: #6c757d;
      background: #f8f9fa;
      font-weight: 700;
      font-size: 18px;
      border-radius: 6px;
      transition: box-shadow 0.2s;
    }

    .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
      .p-accordion-header-link {
      background: #e9ecef;
      border-color: #dee2e6;
      color: #67b5cf;
    }

    .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
      background: #f8f9fa;
      border-color: #dee2e6;
      color: #67b5cf;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

:host {
  ::ng-deep .card-override {
    .p-card-content {
      padding: 0rem 0;
    }

    .p-card-body {
      padding: 0.3rem;
    }
  }
}

:host {
  ::ng-deep .table-override {
    .p-datatable-header {
      background: #f8f9fa;
      color: #343a40;
      border: 1px solid #dee2e6;
      border-width: 1px 0 1px 0;
      padding: 0.2rem;
      font-weight: 700;
    }

    .p-datatable-thead > tr > th {
      text-align: center;
      padding: 0.2rem 2rem;
    }

    .p-datatable-tbody > tr > td {
      text-align: center;
      border: 1px solid #dee2e6;
      border-width: 0 0 1px 0;
      padding: 0.5rem 1rem;
    }

    .p-paginator-bottom {
      border-width: 0 0 1px 0;
      border-radius: 0;
      height: 3rem;
    }

    .p-paginator {
      background: #ffffff;
      color: #6c757d;
      border: solid #e9ecef;
      border-width: 0;
      padding: 0rem 1rem;
      border-radius: 6px;
    }
    
    .p-paginator .p-dropdown .p-dropdown-label {
      background: transparent;
      border: 0 none;
      width: 20px;
    }
  }
}
:host{
  ::ng-deep  {
    .p-button {
      color: #ffffff;
      background: #67b5cf;
      border: 1px solid #67b5cf;
      padding: 0.75rem 1.25rem;
      font-size: 1rem;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      border-radius: 20px;
    }
    .p-button:hover {
      color: gray;
      background: #dee2e6;
      border: 1px solid #dee2e6;
      padding: 0.75rem 1.25rem;
      font-size: 1rem;
      border-radius: 50px;
    }
  }
} 
:host {
  ::ng-deep .calendar-override{
     .p-datepicker-trigger {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-radius: 0px;
    }
     .p-datepicker {
      min-width: 50%;
      width: 120%;
      height: 600%;
      margin-left: -5%;
    }
    .p-inputtext {
      flex: 1 1 auto;
      width: 192px;
    }
    .p-datepicker table th , .p-datepicker table td{
      padding: 0rem;
    }
    .p-datepicker .p-datepicker-header {
  padding: 0rem;
  color: #495057;
  background: #ffffff;
  font-weight: 600;
  margin: 0;
  border-bottom: 1px solid #dee2e6;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
}
.p-datepicker table {
  width: 30%;
  height: 30%;
  border-collapse: collapse;
}
 .p-calendar {
  background-color: #d9d9d9;
}
  }
}

:host ::ng-deep .p-dropdown{
  margin-top: 0%;
  background-color: #d9d9d9;
}

:host ::ng-deep .p-inputtext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #495057;
  width: 25%;
  background: #d9d9d9;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
}


:host ::ng-deep .p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
  width: 192px;
  text-align: center;
}

.conteiner-data-1 label {
  padding: 1rem 2.4rem;
  display: inline;
  font-weight: 700;
  color: #6c757d;
}

.conteiner-data-2 label {
  padding: 1rem 2.4rem;
  display: inline;
  font-weight: 700;
  color: #6c757d;
}

.conteiner-data-3 label {
  padding: 1rem 2.4rem;
  display: inline;
  font-weight: 700;
  color: #6c757d;
}

.conteiner-data-3 td {
  text-align: left;
}

.conteiner-data-3 .email {
  padding: 1rem 7rem;
  text-align: left;
}
.conteiner-data-3 .telef {
  padding: 1rem 3rem;
  text-align: left;
}

.conteiner-data-1 {
  display: inline-flex;
  flex-direction: row;
}

td {
  padding: 1rem 2.3rem;
  text-align: left;
}

h2 {
  margin-top: 5px;
  text-align: center;
  color: #67b5cf;
  font-size: 18px;
  font-weight: 700;
}

.data-1 {
  margin-left: -3%;
}

.mainTable {
  margin-top: 3%;
}

.conteiner-data-1 .conteiner-data-2 .altaAfip {
  padding: 1rem 4rem;
}
.conteiner-data-1 .fiscalizador {
  padding: 1rem 4rem;
}

@media screen and (max-width: 1921px) {
  :host {
    ::ng-deep .dialogButtons-override {
      .p-dialog-header {
        border-bottom: 0 none;
        width: 50vw;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        display: inline-table;
        width: 50vw;
        height: 30vw;
        padding: 0 0.2rem;
      }
    }
  }

  :host{
    ::ng-deep .dialogCalculator-override {
      .p-dialog-header {
        border-bottom: 0 none;
        width: 26vw;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        text-align: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        display: inline-table;
        width: 26vw;
        height: 34vw;
        padding: 0 0.2rem;
      }
      .p-dialog-footer {
        border-top: 0 none;
        background: #ffffff;
        color: #495057;
        width: 26vw;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-align: right;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .inputs {
        margin-top: 3%;
        margin-left: 8%;
      }
      .titleCalculadora {
        margin-left: 170px;
      }
    }
  }

  :host {
    ::ng-deep .table-override {
      .p-datatable-thead > tr > th {
        text-align: center;
        padding: 0.2rem 4rem;
      }
    }
  } 
}

@media screen and (max-width: 1650px) {
  :host{
    ::ng-deep .dialogCalculator-override {
      .p-dialog-header {
        border-bottom: 0 none;
        width: 26vw;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        text-align: center;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        display: inline-table;
        width: 26vw;
        height: 34vw;
        padding: 0 0.2rem;
      }
      .p-dialog-footer {
        border-top: 0 none;
        background: #ffffff;
        color: #495057;
        width: 26vw;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-align: right;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .inputs {
        margin-top: 2%;
        margin-left: 5%;
        padding: 1rem 2rem;
      }
      .titleCalculadora {
        margin-left: 140px;
      }
    }
  }

  :host {
    ::ng-deep .table-override {
      .p-datatable-thead > tr > th {
        text-align: center;
        padding: 0.2rem 3rem;
      }
    }
  } 
}
@media screen and (max-width: 1367px) {
  .conteiner-data-1 label {
    padding: 1rem 1.5rem;
    display: inline;
  }

  td {
    padding: 0.5rem 1.3rem;
    text-align: left;
  }
  .conteiner-data-1 .conteiner-data-2 .altaAfip {
    padding: 1rem 3rem;
  }
  .conteiner-data-1 .fiscalizador {
    padding: 1rem 4rem;
  }

  .conteiner-data-3 .email {
    padding: 1rem 6rem;
    text-align: left;
  }
  .conteiner-data-3 .telef {
    padding: 0rem 1rem;
    text-align: left;
  }
  .conteiner-data-3 label {
    padding: 0rem 1.5rem;
    text-align: left;
  }
  :host{
    ::ng-deep .dialogCalculator-override { 
      .p-dialog-header {
        border-bottom: 0 none;
        width: 30vw;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        display: inline-table;
        width: 30vw;
        height: 40vw;
        padding: 0 0.2rem;
      }
      .p-dialog-footer {
        border-top: 0 none;
        background: #ffffff;
        color: #495057;
        width: 30vw;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-align: right;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .titleCalculadora {
        margin-left: 120px;
      }
      .inputs {
        margin-left: 7%;
        padding: 1rem 3rem;

      }
    }
  }
  :host {
    ::ng-deep .dialogButtons-override {
      .p-dialog-header {
        border-bottom: 0 none;
        width: 60vw;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        display: inline-table;
        width: 60vw;
        height: 40vw;
        padding: 0 0.2rem;
      }
    }
  }
  :host {
    ::ng-deep .table-override {
      .p-datatable-tbody > tr > td {
        text-align: center;
        padding: 0;
      }
      .p-datatable-thead > tr > th {
        text-align: center;
        padding: 0.2rem 2rem;
      }
    }
  } 
} 

@media screen and (max-width: 1250px) {

  :host {
    ::ng-deep .dialogButtons-override {
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        margin-left: -10%;
        width: 60vw;
        height: 40vw;
        display: inline-table;
        padding: 0 0.2rem;
      }
      .p-dialog-header {
        border-bottom: 0 none;
        width: 60vw;
        margin-left: -10%;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
    }
  }
  :host{
    ::ng-deep .dialogCalculator-override { 
      .p-dialog-header {
        border-bottom: 0 none;
        width: 35vw;
        background: #ffffff;
        margin-left: -10%;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        margin-left: -10%;
        display: inline-table;
        width: 35vw;
        height: 40vw;
        padding: 0 0.2rem;
      }
      .p-dialog-footer {
        border-top: 0 none;
        background: #ffffff;
        color: #495057;
        width: 35vw;
        margin-left: -10%;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-align: right;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .p-dialog {
        margin-top: -5%;
      }
    }
  }
  :host ::ng-deep .empAuditados .p-inputtext {
    width: 30%;
  }
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    padding: 0.2rem 2rem;
  }
}

@media screen and (max-width: 1180px) {
  .conteiner-data-1 label {
    padding: 1rem 3rem;
    display: inline;
  }

  td {
    padding: 0.5rem 2.7rem;
    text-align: left;
  }
  .conteiner-data-3 td {
    padding: 0.5rem 1.4rem;
    text-align: left;
  }

  .conteiner-data-1 {
    display: inline-flex;
    flex-direction: column;
  }

  .conteiner-data-1 .conteiner-data-2 .altaAfip {
    padding: 1rem 4rem;
  }
  .conteiner-data-1 .fiscalizador {
    padding: 1rem 6rem;
  }

  :host {
    ::ng-deep .dialogButtons-override {
      .p-dialog-header {
        border-bottom: 0 none;
        width: 70vw;
        margin-left: -25%;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        margin-left: -25%;
        width: 70vw;
        height: 40vw;
        display: inline-table;
        padding: 0 0.2rem;
      }
      margin-top: -10%;
    }
  }   
  :host{
    ::ng-deep .dialogCalculator-override { 
      .p-dialog-header {
        border-bottom: 0 none;
        width: 50vw;
        background: #ffffff;
        margin-left: -50%;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        margin-left: -50%;
        display: inline-table;
        width: 50vw;
        height: 40vw;
        padding: 0 0.2rem;
      }
      .p-dialog-footer {
        border-top: 0 none;
        background: #ffffff;
        color: #495057;
        width: 50vw;
        margin-left: -50%;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-align: right;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .inputs {
        margin-left: 17%;
      }
      .titleCalculadora {
        margin-left: 190px;
      }

    }
  }   

  .conteiner-data-3 .telef {
    padding: 0rem 2rem;
    text-align: left;
  }
  :host ::ng-deep .empAuditados .p-inputtext {
    width: 35%;
  }
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    padding: 0.2rem 1.5rem;
  }
}
@media screen and (max-width: 980px) {
  :host{
    ::ng-deep .dialogCalculator-override { 
      margin-top: -10%;
      .inputs {
        margin-left: 9%;
      }
      .titleCalculadora {
        margin-left: 170px;
      }}}
      
  :host ::ng-deep .empAuditados .p-inputtext {
    width: 30%;
  }
}
@media screen and (max-width: 923px) {
  :host{
    ::ng-deep .dialogCalculator-override { 
      margin-top: -15%;
      .inputs {
        margin-left: 5%;
      }
      .titleCalculadora {
        margin-left: 160px;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  :host {
    ::ng-deep .dialogButtons-override {
      .p-dialog-header {
        border-bottom: 0 none;
        width: 70vw;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        width: 70vw;
        height: 100vw;
        padding: 0 0.2rem;
      }

    }
    :host {
      ::ng-deep .table-override{
      .p-datatable-tbody > tr > td {
        display: flex;
        width: 100% !important;
        align-items: center;
        justify-content: space-between;
        padding: 0.2rem 0.5rem;
    }
  }
  }
  }

  :host::ng-deep .dialogCalculator-override { 
    margin-top: -10%;
  }
  :host ::ng-deep .empAuditados .p-inputtext {
    width: 30%;
    float: right;
  }
}

@media screen and (max-width: 800px) {
  .conteiner-data-1 label {
    padding: 1rem 2rem;
    display: inline;
  }

  .conteiner-data-3 label {
    padding: 1rem 1.5rem;
    display: inline;
  }

  .conteiner-data-3 td {
    padding: 1rem 1.5rem;
    text-align: left;
  }

  td {
    padding: 0.5rem 1.7rem;
    text-align: left;
  }
  .conteiner-data-1 {
    display: inline-flex;
    flex-direction: column;
  }


  :host {
    ::ng-deep .dialogButtons-override {
      margin-top: -20%;
      }
    }
  
  :host{
    ::ng-deep .dialogCalculator-override { 
      margin-top: -20%;
      .p-dialog-header {
        border-bottom: 0 none;
        width: 60vw;
        background: #ffffff;
        margin-left: -70%;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        margin-left: -70%;
        display: inline-table;
        width: 60vw;
        height: 40vw;
        padding: 0 0.2rem;
      }
      .p-dialog-footer {
        border-top: 0 none;
        background: #ffffff;
        color: #495057;
        width: 60vw;
        margin-left: -70%;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-align: right;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .inputs {
        margin-left: 8%;
      }
      .titleCalculadora {
        margin-left: 150px;
      }
    }
  }
}
@media screen and (max-width: 742px) {
  :host {
    ::ng-deep .dialogCalculator-override{
      margin-top: -30%;
      .inputs {
        margin-left: 4%;
      }
    }
  } 
}

@media screen and (max-width: 675px) {
  .conteiner-data-1 label,
  .conteiner-data-3 label {
    padding: 1rem 1rem;
    display: inline;
  }
  td {
    padding: 0.5rem 0.7rem;
    text-align: left;
  }
  .conteiner-data-1 {
    display: inline-flex;
    flex-direction: column;
  }
  .conteiner-data-3 label {
    padding: 1rem 2rem;
    display: inline;
  }

  .conteiner-data-3 td {
    padding: 1rem 1rem;
    text-align: left;
  }

  .conteiner-data-1 .conteiner-data-2 .altaAfip {
    padding: 1rem 2rem;
  }
  .conteiner-data-1 .fiscalizador {
    padding: 1rem 4rem;
  }
  :host{
    ::ng-deep .dialogButtons-override {
      .p-dialog-header {
        border-bottom: 0 none;
        width: 70vw;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        width: 70vw;
        height: 80vw;
        display: inline-table;
        padding: 0 0.2rem;
      }
    }
  } 

  .conteiner-data-3 label {
    padding: 1rem 1rem;
    display: inline;
  }
  .conteiner-data-3 .telef {
    padding: 0rem 2rem;
    text-align: left;
  }
  .conteiner-data-3 .email {
    padding: 0rem 3rem;
    text-align: left;
  }
  .conteiner-data-3 td {
    padding: 1rem 0.3rem;
    text-align: left;
  }
  :host{
    ::ng-deep .dialogCalculator-override { 
      margin-top: -40%;
      .p-dialog-header {
        border-bottom: 0 none;
        width: 70vw;
        background: #ffffff;
        margin-left: -90%;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        margin-left: -90%;
        display: inline-table;
        width: 70vw;
        height: 40vw;
        padding: 0 0.2rem;
      }
      .p-dialog-footer {
        border-top: 0 none;
        background: #ffffff;
        color: #495057;
        width: 70vw;
        margin-left: -90%;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-align: right;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .inputs {
        margin-left: 10%;
      }
    }
  }   
}
@media screen and (max-width: 641px) {
  :host{
    ::ng-deep .dialogCalculator-override { 
       .inputs {
        margin-left: 5%;
  }
  }
}
@media screen and (max-width: 570px) {
  .conteiner-data-1 label {
    padding: 1rem 0.5rem;
    display: inline;
  }
  td {
    padding: 0.5rem 0.3rem;
    text-align: left;
  }
  .conteiner-data-1 {
    display: inline-flex;
    flex-direction: column;
  }
  .conteiner-data-1 .conteiner-data-2 .altaAfip {
    padding: 1rem 2rem;
  }
  .conteiner-data-1 .fiscalizador {
    padding: 1rem 3rem;
  }

  .conteiner-data-3 label {
    padding: 1rem 1rem;
    display: inline;
  }
  .conteiner-data-3 .telef {
    padding: 0rem 2rem;
    text-align: left;
  }
  .conteiner-data-3 .email {
    padding: 0rem -1rem;
    text-align: left;
  }
  .conteiner-data-3 td {
    padding: 1rem 0rem;
    text-align: left;
  }
  :host{
    ::ng-deep .dialogButtons-override { 
      margin-top: -35%;
    }
  }

  .conteiner-data-3 .telef {
    padding: 0rem 1rem;
    text-align: left;
  }
  .conteiner-data-3 .email {
    padding: 0rem 4rem;
    text-align: left;
  }
  .conteiner-data-3 td {
    padding: 1rem 0.2rem;
    text-align: left;
  }
  .conteiner-data-3 label {
    padding: 1rem 0.2rem;
    text-align: left;
  }
  :host{
    ::ng-deep .dialogCalculator-override { 
      margin-top: -40%;
      .p-dialog-header {
        border-bottom: 0 none;
        width: 70vw;
        background: #ffffff;
        margin-left: -90%;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-top: -3%;
        margin-left: -90%;
        display: inline-table;
        width: 70vw;
        height: 40vw;
        padding: 0 0.2rem;
      }
      .p-dialog-footer {
        border-top: 0 none;
        background: #ffffff;
        color: #495057;
        width: 70vw;
        margin-left: -90%;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-align: right;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .inputs {
        margin-left: 0%;
      }
      .titleCalculadora {
        margin-left: 120px;
      }
    }
  }
}
}

@media screen and (max-width: 543px) {
  :host {
    ::ng-deep .dialogCalculator-override{
      margin-top: -50%;
      .inputs {
        padding: 1rem 1rem;
        margin-left: 4%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  :host {
    ::ng-deep .dialogCalculator-override{
      margin-top: -60%;
      .titleCalculadora {
        margin-left: 90px;
      }
    }
  } 
}

@media screen and (max-width: 440px) {
  .conteiner-data-1 label {
    padding: 1rem 0.3rem;
    display: inline;
  }
  td {
    padding: 0.5rem 0.1rem;
    text-align: left;
  }
  .conteiner-data-1 {
    display: inline-flex;
    flex-direction: column;
  }
  .conteiner-data-1 .conteiner-data-2 .altaAfip {
    padding: 1rem 2rem;
  }
  .conteiner-data-1 .fiscalizador {
    padding: 1rem 3rem;
  }
  :host{
    ::ng-deep .dialogButtons-override { 
      .p-dialog-header {
        border-bottom: 0 none;
        width: 80vw;
        margin-left: -40%;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .p-dialog-content {
        background: #ffffff;
        color: #495057;
        margin-left: -40%;
        margin-top: -3%;
        width: 80vw;
        height: 30vw;
        padding: 0 0.2rem;
      }
    
    }
  }
  .conteiner-data-3 .telef {
    padding: 0rem 1rem;
    text-align: left;
  }
  .conteiner-data-3 .email {
    padding: 0rem 3.5rem;
    text-align: left;
  }
  .conteiner-data-3 td {
    padding: 1rem 0.2rem;
    text-align: left;
  }
  .conteiner-data-3 label {
    padding: 1rem 0.2rem;
    text-align: left;
  }
  :host {
    ::ng-deep .dialogCalculator-override{
      .titleCalculadora {
        margin-left: 70px;
      }
      .inputs {
        margin-left: 0%;
        padding: 1rem;
      }
    }
  }
}


:host ::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 40rem) {
  :host {
    ::ng-deep .table-override{
    .p-datatable-tbody > tr > td {
      display: flex;
      width: 100% !important;
      align-items: center;
      justify-content: space-between;
      padding: 0.2rem 0.5rem;
  }
}
}
  :host ::ng-deep {
    .table-override  {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;
          padding: 0.2rem 0.5rem;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4em 1em -0.4em -0.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}
.titleCalculadora {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #495057;
  padding-left: 20px;
}

.inputs {
  margin-top: 1%;
  padding: 1rem 4rem;
}

.inputs label {
  display: block;
  margin-top: 4%;
}

.buttonCancel {
  float: left;
}
.buttonAcept {
  float: right;
}

.buttonAcept,
.buttonCancel {
  margin-top: 3%;
}

.errors {
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  text-align: left;
  padding: 0em 1em;
  margin-top: -3px;
}


:host {
  ::ng-deep .checkDialog {
     .p-dialog-header {
        padding: 0.7rem 0.7rem;
     }
     .p-dialog-content {
        padding: 0 0.8rem 1rem 0.8rem;
     }
     .p-dialog-footer {
        padding: 0 0.8rem 0.3rem 0.8rem;
     }
  }
}
:host {
  ::ng-deep .checkTable {
     .p-datatable-thead > tr > th {
        text-align: center;
     }
     input {
        width: 9vw;      
     }
     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
        display: none;
     }
     
  }

  .checkTable__inputs--import {
     width: 100%;
  }

  .p-dropdown {
     width: 100%;
     .p-dropdown-label {
        text-align: center;
     }
  }    
}




.titleDialog {
  margin-top: 5px;
  text-align: center;
  color: #67b5cf;
  font-size: 18px;
  font-weight: 700;
  margin-left: 45%;

}
