<ion-app>
  <app-header title="Actas de planes" icon="albums"></app-header>
  <app-menu></app-menu>
  <ion-content>
    <p-menubar [model]="items"></p-menubar>
    <p-card>
      <div class="container">
        <p-accordion [multiple]="true">
          <p-accordionTab header="Datos de la empresa">

            <div *ngFor="let companies of companies">
            <div class="conteiner-data-1">

            <tr><th>Acta</th> 
               <th>Estado</th> 
               <th>Fecha Apertura</th> 
               <th>Fiscalizador</th></tr> 

               <tr><td>{{companies.acta}}</td>
                <td>{{companies.estado}}</td>
                <td>{{companies.fechaApertura}}</td>
                <td>{{companies.fiscalizador}}</td></tr> 
            </div>


              <tr><th>Empresa</th> 
                <th>Alta AFIP</th> 
                <th>Aprobador Fec.Intereses</th> 
                <th>Aprobador Fec.Acreditacion</th></tr>

                <tr><td>{{companies.cuit}}</td>
                <td>{{companies.altaAfip}}</td>
                <td>{{companies.aprobadorFecIntereses}}</td>
                <td>{{companies.aprobadorFecAcreditacion}}</td></tr> 
     
            </div>
       

          </p-accordionTab>
          <p-accordionTab header="Datos de contacto">
            <div *ngFor="let companies of companies">
              <div class="conteiner-data-3">

                <tr><th>Nombre</th>
                  <th>Apellido</th>
                  <th>Mail</th>
                  <th>Telefono</th></tr>

               <tr><td>{{companies.contactName}}</td>
                <td>{{companies.contactLastName}}</td>
                <td> {{companies.email}}</td>
                <td>{{companies.contactNumber}}</td></tr> 

                </div>
            </div>           
          </p-accordionTab>
        </p-accordion>

      </div>
    </p-card>
  </ion-content>
</ion-app>
