:host ::ng-deep .p-accordion .p-accordion-content {
  padding: 0.55rem;
  border: 1px solid #dee2e6;
  background: #ffffff;
  color: #495057;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0.8rem;
  border: 1px solid #dee2e6;
  color: #6c757d;
  background: #f8f9fa;
  font-weight: 700;
  font-size: 18px;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}

:host
  ::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
  .p-accordion-header-link {
  background: #e9ecef;
  border-color: #dee2e6;
  color: #67b5cf;
}

:host
  ::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  background: #f8f9fa;
  border-color: #dee2e6;
  color: #67b5cf;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

:host ::ng-deep .p-card .p-card-content {
  padding: 0rem 0;
}

:host ::ng-deep .p-card .p-card-body {
  padding: 0.3rem;
}
:host ::ng-deep .p-datatable .p-datatable-header {
  background: #f8f9fa;
  color: #343a40;
  border: 1px solid #dee2e6;
  border-width: 1px 0 1px 0;
  padding: 0.2rem;
  font-weight: 700;
}

:host ::ng-deep .p-paginator {
  background: #ffffff;
  color: #6c757d;
  border: solid #e9ecef;
  border-width: 0;
  padding: 0rem 1rem;
  border-radius: 6px;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #6c757d;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}
:host ::ng-deep .p-datatable .p-paginator-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0;
  height: 3rem;
}

:host ::ng-deep .p-button{
  color: gray;
  background: white;
  border: white;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 50px;
}

:host ::ng-deep .p-button:hover{
  color: gray;
  background: #dee2e6;
  border: 1px solid #dee2e6;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 50px;
}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  padding: 0.5rem 1rem;
}
:host ::ng-deep .p-button {
  color: gray;
  background: white;
  border: white;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 50px;
}

:host ::ng-deep .p-button:hover{
  color: gray;
  background: #dee2e6;
  border: 1px solid #dee2e6;
 }



 .conteiner-data-1 label , .conteiner-data-3 label{
  padding: 1rem 2.4rem;
  display: inline;
  font-weight: 700;
  color: #6c757d;
}

.conteiner-data-1 {
  display: inline-flex;
  flex-direction: row;
}

td{
 padding: 1rem 2.3rem;
 text-align: left;
}


h2 {
  margin-top: 5px;
  text-align: center;
  color: #67b5cf;
  font-size: 18px;
  font-weight: 700;
}


.data-1 {
  margin-left: -3%;
}

.mainTable {
  margin-top: 3%;
}

.conteiner-data-1 .conteiner-data-2 .altaAfip{
   padding: 1rem 6rem;
}
.conteiner-data-1 .fiscalizador {
  padding: 1rem 5rem;
}

@media screen and (max-width: 1320px) {

  .conteiner-data-1 label {
    padding: 1rem 1.5rem;
    display: inline;
  }

  td{
    padding: 0.5rem 1.3rem;
    text-align: left;
   }
   .conteiner-data-1 .conteiner-data-2 .altaAfip{
    padding: 1rem 5rem;
   }
   .conteiner-data-1 .fiscalizador {
   padding: 1rem 4rem;
   }
}

@media screen and (max-width: 1065px) {
  .conteiner-data-1 label {
    padding: 1rem 3rem;
    display: inline;
  }
  td{
    padding: 0.5rem 2.7rem;
    text-align: left;
   }
   .conteiner-data-1 {
    display: inline-flex;
    flex-direction: column;
  }

  .conteiner-data-1 .conteiner-data-2 .altaAfip{
    padding: 1rem 7rem;
   }
   .conteiner-data-1 .fiscalizador {
   padding: 1rem 6rem;
   }
  
}

@media screen and (max-width: 800px) {
  .conteiner-data-1 label {
    padding: 1rem 2rem;
    display: inline;
  }
  td{
    padding: 0.5rem 1.7rem;
    text-align: left;
   }
   .conteiner-data-1 {
    display: inline-flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 675px) {
  .conteiner-data-1 label {
    padding: 1rem 1rem;
    display: inline;
  }
  td{
    padding: 0.5rem 0.7rem;
    text-align: left;
   }
   .conteiner-data-1 {
    display: inline-flex;
    flex-direction: column;
  }

  .conteiner-data-1 .conteiner-data-2 .altaAfip{
    padding: 1rem 5rem;
   }
   .conteiner-data-1 .fiscalizador {
   padding: 1rem 3rem;
   }
}

@media screen and (max-width: 540px) {
  .conteiner-data-1 label {
    padding: 1rem 0.5rem;
    display: inline;
  }
  td{
    padding: 0.5rem 0.3rem;
    text-align: left;
   }
   .conteiner-data-1 {
    display: inline-flex;
    flex-direction: column;
  }
  .conteiner-data-1 .conteiner-data-2 .altaAfip{
    padding: 1rem 4rem;
   }
   .conteiner-data-1 .fiscalizador {
   padding: 1rem 2rem;
   }
}