<ion-app>
  <app-menu title="Actualizar Datos" icon="pencil"></app-menu>
  <ion-content>
    <p-card>
      <div class="container">
        <p-accordion [multiple]="true">
          <p-accordionTab header="Datos de la empresa">
            <div class="conteiner-data-1">
              <div class="data-1">
                <div><label>Razon social</label></div>
                <input tabindex="1" type="text" required pInputText />
              </div>

              <div class="data-1">
                <div><label>CUIT</label></div>
                <input tabindex="2" type="text" required pInputText />
              </div>

              <div class="estado"><label>Estado</label></div>
              <input tabindex="3" type="text" required pInputText />
            </div>

            <div class="conteiner-data-2">
              <div class="data-2">
                <div><label>Mail</label></div>
                <input tabindex="4" type="email" required pInputText />
              </div>

              <div class="data-2">
                <div><label>Mail alternativo</label></div>
                <input tabindex="5" type="email" required pInputText />
              </div>

              <div class="confirmaMail">
                <label>Confirmar mail alternativo</label>
              </div>
              <input tabindex="6" type="email" required pInputText />
            </div>
          </p-accordionTab>
          <p-accordionTab header="Domicilio">
            <div class="domicilio">
              <div class="conteiner-data-3">
                <div class="data-3">
                  <div><label>Codigo Postal</label></div>
                  <input tabindex="7" type="text" required pInputText />
                </div>

                <div class="calle"><label>Calle</label></div>
                <input tabindex="8" type="text" required pInputText />
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="Datos complementarios">
            <div class="comentarios"><label>Comentarios:</label></div>
            <textarea></textarea>
          </p-accordionTab>
        </p-accordion>

        <p-button>Guardar</p-button>

        <p-button>Cancelar</p-button>
      </div>
    </p-card>
  </ion-content>
</ion-app>
