<ion-app>
    <ion-content>
    <p-card>

      <h4>Datos de la empresa</h4>

      <label>Razon social</label>
      <input tabindex="1" type="text" required pInputText/>

      <label>CUIT</label>
      <input tabindex="2" type="text" required pInputText />

      <label>Estado</label>
      <input tabindex="3" type="text" required pInputText />

      <label>Mail</label>
      <input tabindex="4" type="email" required pInputText />

      <label>Mail alternativo</label>
      <input tabindex="5" type="email" required pInputText />
      
      <label>Confirmar mail alternativo</label>
      <input tabindex="6" type="email" required pInputText />


      <h4>Domicilio</h4>

      <label>Codigo Postal</label>
      <input tabindex="7" type="text" required pInputText />

      <label>Calle</label>
      <input tabindex="8" type="text" required pInputText />

      <h4>Datos complementarios</h4>
      <label>Comentarios</label>
      <input tabindex="9" type="text" required pInputText />

    </p-card>
    </ion-content>
</ion-app>