<ion-app>
    <app-menu title="Actualizar Datos" icon="pencil"></app-menu>
    <ion-content>
    <p-card>

      <h4>Datos de la empresa</h4>

      <div><label>Razon social</label></div>
      <input tabindex="1" type="text" required pInputText/>


      <div><label>CUIT</label></div>
      <input tabindex="2" type="text" required pInputText />


      <div><label>Estado</label></div>
      <input tabindex="3" type="text" required pInputText />


      <div><label>Mail</label></div>
      <input tabindex="4" type="email" required pInputText />

      <div><label>Mail alternativo</label></div>
      <input tabindex="5" type="email" required pInputText />

      
      <div><label>Confirmar mail alternativo</label></div>
      <input tabindex="6" type="email" required pInputText />


      <h4>Domicilio</h4>
      <div><label>Codigo Postal</label></div>
      <input tabindex="7" type="text" required pInputText />
   
      <div><label>Calle</label> </div>
      <input tabindex="8" type="text" required pInputText />


      <h4>Datos complementarios</h4>
      <div><label>Comentarios</label></div>
      <input tabindex="9" type="text" required pInputText />

    </p-card>
    </ion-content>
</ion-app>