.p-inputtext {
    width: 211px;
    height: 32px;
    left: 0px;
    top: 5%;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    margin: 0.7rem 0 2rem;
}

.data-1, .data-2, .data-3{
    float: left;
    margin-left: 1%;
    margin-right: 5%;
}

.comentarios {
    margin: 0.7rem 0 1rem;
    margin-left: 1%;
    margin-right: 5%;
}

.data-3{
    margin-right: 6%;
}


.conteiner-data-1, .conteiner-data-3{
    margin-top: 0px;
}

.container {
    margin-top: -25px;
}

textarea{
    width: 510px;
    height: 115px;
    left: 0px;
    top: 24px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 12px;
    margin-left: 1%;
    margin-right: 5%;
}

.buttons {
    position: relative;
    margin-top: 15px;
    left: 35%;
}

:host ::ng-deep .p-button {
    color: #ffffff;
    background: #67B5CF;
    border: #67B5CF;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 18px;
    margin-left: 5%;
}
:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 1rem;
    border: 1px solid #dee2e6;
    color: #6c757d;
    background: #f8f9fa;
    font-weight: 700;
    border-radius: 6px;
    transition: box-shadow 0.2s;
}


@media screen and (max-width: 804px) {

    .buttons {
        position: relative;
        margin-top: 15px;
        left: 25%;
    }

    .p-inputtext {
        width: 180px;
        height: 32px;
        left: 0px;
        top: 5%;
        background: rgba(217, 217, 217, 0.5);
        border-radius: 10px;
        margin: 0.7rem 0 2rem;
    }
    
    .data-1, .data-2, .data-3{
        float: left;
        margin-left: 0.2%;
        margin-right: 5%;
    }
    
    .data-3{
        margin-right: 6%;
    }
    
  }

  @media screen and (max-width: 685px) {
    .buttons {
        position: relative;
        margin-top: 15px;
        left: 20%;
    }

    .p-inputtext {
        width: 180px;
        height: 32px;
        left: 0px;
        top: 5%;
        background: rgba(217, 217, 217, 0.5);
        border-radius: 10px;
        margin: 0.7rem 0 2rem;
    }
    .estado, .confirmaMail{
        width: 180px;
    }
    
    .data-1, .data-2, .data-3{
        float: left;
        margin-left: 0.2%;
        margin-right: 5%;
    }
    
    .data-3{
        margin-right: 6%;
    }

    textarea{
        width: 395px;
        height: 115px;
        left: 0px;
        top: 24px;
        background: rgba(217, 217, 217, 0.5);
        border-radius: 12px;
        margin-left: 1%;
        margin-right: 5%;
    }
  }

  @media screen and (max-width: 465px) {

    :host ::ng-deep .p-card .p-card-body {
        padding: 1.25rem;
        margin-top: 10%;
    }
    .buttons {
        position: relative;
        margin-top: 15px;
        left: 10%;
    }
    .p-inputtext {
        width: 120px;
        height: 32px;
        left: 0px;
        top: 5%;
        background: rgba(217, 217, 217, 0.5);
        border-radius: 10px;
        margin: 0.7rem 0 1rem;
    }
    .estado, .confirmaMail, .calle{
        width: 120px;
    }
    
    .data-1, .data-2, .data-3{
        float: left;
        margin-left: 0.2%;
        margin-right: 5%;
    }
    
    .data-3{
        margin-right: 6%;
    }

    textarea{
        width: 320px;
        height: 115px;
        left: 0px;
        top: 24px;
        background: rgba(217, 217, 217, 0.5);
        border-radius: 12px;
        margin-left: 1%;
        margin-right: 5%;
    }
    .container {
        margin-top: -55px;
    }
  }
  @media screen and (max-width: 442px) {
        textarea{
            width: 250px;
            height: 115px;
            left: 0px;
            top: 24px;
            background: rgba(217, 217, 217, 0.5);
            border-radius: 12px;
            margin-left: 1%;
            margin-right: 5%;
        }
    }
  @media screen and (min-width: 1921px){
   
    :host {
      width: 1920px;
      margin: auto;
  }
}