
<ion-app>
  <app-header title="Home" icon="Home"></app-header>
<app-menu></app-menu>
<ion-content>
  <h4>{{"HOME.TITLE" | translate}}</h4>

  <p-dialog [(visible)]="display" [modal]="true" [style]="{ width: '24vw', height: '35vw' }" position="center">
    <ng-template pTemplate="header">
        <h2>Calculadora</h2>
    </ng-template>
    <ng-template pTemplate="content">
      
    <form class="form" [formGroup]="myForm" >
      <div class="inputs">
        <label>Fecha de primer pago</label>
        <p-calendar  [minDate]="minDate" [showIcon]="true" (onSelect)="onSelect($event)" [required]="true" id="calendar" class="form-control"
        formControlName="calendar" placeholder="Seleccione..."></p-calendar>
        <span class="text-danger" *ngIf="(f['calendar'].touched || f['calendar'].dirty) && f['calendar'].errors?.['required']">La fecha es requerida</span>

        <label>Aprobador</label>
        <p-dropdown [options]="aprobadores"  placeholder="Seleccione..." ></p-dropdown>
        <label>Cantidad de pagos</label>
        <p-dropdown  [options]="amountPayments"  [required]="true" placeholder="Seleccione..." id="pago" class="form-control"
       formControlName="pago"></p-dropdown>
       <span class="text-danger" *ngIf="(f['pago'].touched || f['pago'].dirty) && f['pago'].errors?.['required']">La cantidad de pagos es requerida</span>

        <label>Periocidad</label>
        <p-dropdown [options]="periodicity"  placeholder="Seleccione..."></p-dropdown>
      </div>
    </form>
      
    </ng-template>
    
    <ng-template pTemplate="footer">
      <div class="buttonAcept"><p-button>Aceptar</p-button></div>
        <div class="buttonCancel"><p-button>Cancelar</p-button></div>
    </ng-template>
  </p-dialog>

<button pButton type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Calculadora"></button>
</ion-content>
</ion-app>