

 :host ::ng-deep .toolbar-container {
   padding-left: unset;
   padding-right: unset;
   padding-inline-start: var(--padding-start);
   padding-inline-end: var(--padding-end);
   margin-top: 10%;
}

.mainTable{
   width: 97.5vw;;
 }


 .mainTable__companies{
   width: 100%;
 }

 .companies__flex{
   width: 100%;
   height: 47px;
   display: flex;
   flex-direction: row;
   align-items: stretch;
}

.flex__clear{
   width: 130px;
   display: inline-block;
   flex-basis: auto;
   flex-grow: 1;
}

.flex__print{
   width: 47px;
   display: inline-block;
   flex-basis: auto;
}

.flex__search{
   width: 207px;
   display: inline-block;
   flex-basis: auto;
}


label{
      display: block;
      margin-top: 4%;
}

.inputs{
   margin-top: 1%;
}

.buttonCancel {
   float: left;
}
.buttonAcept {
   float: right;
}



.errors {
   color: red;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size:medium;
   text-align: left;
   padding: 0em 1em;
   margin-top: -3px;
 }


 :host {
   ::ng-deep .calendar-override{
      .p-datepicker-trigger {
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
       border-radius: 0px;
     }
      .p-datepicker {
       min-width: 50%;
       width: 120%;
       height: 600%;
       margin-left: -5%;
     }
     .p-inputtext {
       flex: 1 1 auto;
       width: 192px;
     }
     .p-datepicker table th , .p-datepicker table td{
       padding: 0rem;
     }
     .p-datepicker .p-datepicker-header {
   padding: 0rem;
   color: #495057;
   background: #ffffff;
   font-weight: 600;
   margin: 0;
   border-bottom: 1px solid #dee2e6;
   border-top-right-radius: 6px;
   border-top-left-radius: 6px;
   display: flex;
 }
 .p-datepicker table {
   width: 30%;
   height: 30%;
   border-collapse: collapse;
 }
  .p-calendar {
   background-color: #d9d9d9;
 }
   }
 }


 @media screen and (min-width: 1329px){
   html{
       width: 1328px;
       /*margin: 0vh 20vh 0vh 20vh;*/
   }
   .mainTable{
       width: 1328px;
   }
}
@media screen and (max-width:1328px){
   h2{
      font-size: large;
   }
}

@media screen and (max-width:960px){
   h2{
      font-size: medium;
   }
}
@media screen and (max-width:480px){
   h2{
      font-size: small;
   }
   .p-button {
      font-size: small;
      padding: 0.4rem 0.4rem;
  }
  :host ::ng-deep .p-button .p-button-icon-left {
   margin-right: 0.5rem;
   display: none;
   }
   .companies__flex{
      height: 35px;
   }
   .flex__clear{
      width: 130px;
      display: inline-block;
      flex-basis: auto;
      flex-grow: 1;
   }
   
   .flex__print{
      width: 47px;
      display: inline-block;
      flex-basis: auto;
   }
   
   .flex__search{
      width: 207px;
      display: inline-block;
      flex-basis: auto;
   }
}


@media screen and (min-width: 1921px){

   :host {
     width: 1920px;
     margin: auto;
 }
 }